<div class="row">
  <h2>Experiencia</h2>
  <button type="button" class="btn btn-primary" routerLink="/nuevaexp" *ngIf="isLogged">Agregar experiencia</button>
  <div class="container py-5">
    <!--<div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="card rounded-0 border-0 shadow">
                <div class="card-body p-5">-->
                  
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr *ngFor="let Experiencia of expe">
                                    <th scope="col">{{Experiencia.nombreE}}</th>
                                    <th scope="col">{{Experiencia.descripcionE}}</th>
                                    <th scope="col" *ngIf="isLogged">
                                        <button routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-fill"></i></button></th>
                                    <th scope="col" *ngIf="isLogged">
                                        <button (click)="delete(Experiencia.id)"><i class="bi bi-x-circle-fill"></i></button></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                           
                        </table>
                    </div>
