<div class="card">
  <div class="card-body">
    <h2 class="card-title">Educación</h2>
    <button
      type="button"
      class="btn btn-info"
      routerLink="/nuevaedu"
      *ngIf="isLogged"
    >
      Agregar educación
      <i class="bi bi-plus-circle-fill"></i>
    </button>
    <div class="line"></div>
    <div *ngFor="let Educacion of educacion">
      <div class="card-text">{{ Educacion.nombreE }}</div>
      <p class="card-text">{{ Educacion.descripcionE }}</p>
      <footer>
        <button
          class="btn btn-info"
          routerLink="/editedu/{{ Educacion.id }}"
          *ngIf="isLogged"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <div class="space"></div>
        <button
          class="btn btn-info"
          (click)="delete(Educacion.id)"
          *ngIf="isLogged"
        >
          <i class="bi bi-x-circle-fill"></i>
        </button>
        <div class="space"></div>
        <div class="line"></div>
      </footer>
    </div>
  </div>
</div>
