<div class="row">
  <h2>Hard y Soft skills</h2>

  <div class="text-center col-sm-3 col-md-3 col-lg-3">  
    <circle-progress
    [percent]="60"
    [radius]="100"
    [title]="'HTML'"
    [titleFontWeight]="'bold'"
    [titleColor]="'#f16529'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [showTitle]="true"
    [showUnits]="false"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#f16529'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1100"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">  
  <circle-progress
  [percent]="70"
  [radius]="100"
  [title]="'CSS'"
  [titleFontWeight]="'bold'"
  [titleColor]="'#2965f1'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showTitle]="true"
  [showUnits]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#2965f1'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1100"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">  
  <circle-progress
  [percent]="40"
  [radius]="100"
  [title]="'JavaScript'"
  [titleFontWeight]="'bold'"
  [titleColor]="'#f7df1e'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showTitle]="true"
  [showUnits]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f7df1e'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1100"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">  
  <circle-progress
  [percent]="32"
  [radius]="100"
  [title]="'Java'"
  [titleFontWeight]="'bold'"
  [titleColor]="'#f58219'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showTitle]="true"
  [showUnits]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f58219'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1100"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">  
  <circle-progress
  [percent]="50"
  [radius]="100"
  [title]="'MySQL'"
  [titleFontWeight]="'bold'"
  [titleColor]="'#00678c'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showTitle]="true"
  [showUnits]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#00678c'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1100"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">  
  <circle-progress
  [percent]="80"
  [radius]="100"
  [title]="'Habilidades'"
  [titleFontWeight]="'bold'"
  [titleColor]="'#7b759f'"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="true"
  [subtitle]="'comunicativas'"
  [subtitleColor]="'#7b759f'"
  [subtitleFontWeight]="'bold'"
  [subtitleFontSize]="'1.5em'"
  [showTitle]="true"
  [showUnits]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#7b759f'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1100"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">  
  <circle-progress
  [percent]="75"
  [radius]="100"
  [title]="'Trabajar'"
  [titleFontWeight]="'bold'"
  [titleColor]="'#9ec7a9'"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="true"
  [subtitle]="'en equipo'"
  [subtitleColor]="'#9ec7a9'"
  [subtitleFontWeight]="'bold'"
  [subtitleFontSize]="'1.5em'"
  [showTitle]="true"
  [showUnits]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#9ec7a9'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1100"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">  
  <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'Inteligencia'"
  [titleFontWeight]="'bold'"
  [titleColor]="'#f8d682'"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="true"
  [subtitle]="'emocional'"
  [subtitleColor]="'#f8d682'"
  [subtitleFontWeight]="'bold'"
  [subtitleFontSize]="'1.5em'"
  [showTitle]="true"
  [showUnits]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f8d682'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1100"
></circle-progress>
</div>

</div>
