<div class="card">
  <div class="card-body">
    <h2 class="card-title">Experiencia</h2>
    <div class="btn-s">
    <button
      type="button"
      class="btn btn-info"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >Agregar experiencia
      <i class="bi bi-plus-circle-fill"></i>
    </button>
  </div>
    <div class="line"></div>
    <div *ngFor="let Experiencia of expe">
      <div class="card-text">{{ Experiencia.nombreE }}</div>
      <p class="card-text">{{ Experiencia.descripcionE }}</p>
      <footer>
        <button
          class="btn btn-info"
          routerLink="/editexp/{{ Experiencia.id }}"
          *ngIf="isLogged"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <div class="space"></div>
        <button
          class="btn btn-info"
          (click)="delete(Experiencia.id)"
          *ngIf="isLogged"
        >
          <i class="bi bi-x-circle-fill"></i>
        </button>
        <div class="space"></div>
        <div class="line"></div>
      </footer>
    </div>
  </div>
</div>
