<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        id="logo"
        src="../../../assets/data/imagenes/APLogo.png"
        alt="Logo de Argentina Programa"
      />
      <span></span>
    </a>
    <div class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/NoeliaLuduena"
            ><i class="bi bi-github text-info"></i
          ></a>
          <!--</li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="bi bi-envelope-fill text-info"></i></a>
        </li>-->
        </li>
      </ul>
    </div>
    <div class="col-md-3 text-end">
      <button
        type="button"
        class="btn btn-info"
        (click)="login()"
        *ngIf="!isLogged"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-info"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
