
<div class="registration-form" *ngIf="expLab">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
       

        <div class="form-group">
            <label for="nombreE">Nombre de la empresa</label>
            <div class="line"></div>
            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
        </div>
        <div class="line"></div>

        <div class="form-group">
            <label for="descripcionE">Descripción</label>
            <div class="line"></div>
            <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
        </div>

        

        <button class="btn btn-block create-account">
            Editar Experiencia 
        </button>    

    </form>
</div>

