<div class="card">
<div class="row">
    <div class="line"></div>
    <h2 class="card-title">Proyectos</h2>
    <div class="line"></div>
    <div *ngIf="isLogged">
        <button type="button" class="btn btn-info" routerLink="/nuevoproyec" *ngIf="isLogged">Agregar proyecto <i class="bi bi-plus-circle-fill"></i></button>
    </div>
    <div class="line"></div>
    
    <div *ngFor="let Proyectos of proyec"> 

    <div class="container">

        

        <div class="image">

            <img src={{Proyectos.img}} class="img-fluid img-proyecto"/> 

        </div>

        <div class="text">

            <div class="card-text">{{Proyectos.nombreP}}</div>
            
          
            <p class="card-text">{{Proyectos.descripcionP}}</p>

        </div>
    </div>
        
    <div class="btn-group">
        <div *ngIf="isLogged">
            <button class="btn btn-info" (click)="delete(Proyectos.id)"><i class="bi bi-x-circle-fill"></i></button>
            <div class="space"></div>
        </div>
        <div *ngIf="isLogged">
       <button class="btn btn-info" routerLink="/editproyec/{{Proyectos.id}}"><i class="bi bi-pencil-fill"></i></button>
    </div>
    <div class="line"></div>

</div>
    
    </div>


</div>
</div>
