.row{
    padding: 20px;
    background: #0dcaf0;
}



@media (min-width: 576px){
    .testimonial .pic img{
    position: absolute;
    width: 15%;
    box-shadow: 3px 3px 10px black;
   }
}

@media (max-width: 576px){
    .testimonial .pic img{
     position: absolute;
     width: 30%;
     box-shadow: 3px 3px 10px black;
    }
 }
   
.testimonial .pic{
    width: 22%;
    padding: 20px 0;
    margin: 0 6% 0 2%;
    float: left;
    position: relative;
    z-index: 1;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 10px black;
}
.testimonial .testimonial-content{
    width: 70%;
    float: right;
}
.testimonial .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #f4f2f0;
    margin: 0;
    text-transform: uppercase;
    padding-top: 35px;
    padding-left: 15px;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #f4f2f0;
    text-transform: capitalize;
    margin-bottom: 25px;
    padding-left: 15px;
}
.testimonial .description{
    font-size: 16px;
    color: #f4f2f0;
    padding: 0 15px;
    margin: 0;
    position: relative;
    padding-bottom: 35px;
}
