<h2 id="titulo">Educación</h2>
<div class="row">
    
    <div class="col-lg-11"></div>
    <ul>
        <li>
            <h2>trabajo 1</h2>
            <h3>años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae mollitia tempora repudiandae recusandae? Voluptatibus porro fugit quas optio ipsum veniam omnis quibusdam id, in, placeat ea a recusandae modi. Ex.</p>
    </ul>
    <ul>
        <li>
            <h2>trabajo 1</h2>
            <h3>años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae mollitia tempora repudiandae recusandae? Voluptatibus porro fugit quas optio ipsum veniam omnis quibusdam id, in, placeat ea a recusandae modi. Ex.</p>
    </ul>
</div>

