
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/data/imagenes/profile.jpg"
         class="img-fluid" id="fotodeperfil">
    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Noelia Belén Ludueña</p>
    <p>Full Stack Developer Jr</p>
</div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h2>Acerca de mi</h2>
        <p> Soy Desarolladora Full Stack Jr con conocimiento en lenguajes de programación para la elaboración de paginas web. 
            Como una persona inquisitiva, estoy interesada en extender mis competencias y poner en practica mis habilidades. 
            Por consiguiente,busco un puesto desafiante para ganar experiencia y continuar con mi aprendizaje
        </p> 
        </span>
    </div>
</div>

